body {
    font-family: Arial;
    background: linear-gradient(to right, #4ffe66, #16e2ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: rgba(224, 150, 150, 0.356);
    padding: 50px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 8px 15px;
    background: #4facfe;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.cancel {
    background: gray;
}

a {
    color: blue;
}
